{% block title %}
    DELETE PLAYER VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">PLAYER DELETE</div>
            <div class="card-body">
              <p><h1>¿Realmente deseas eliminar este player: {{ object.name }}?</h1></p>
            </div>
          </div>
        <button type="" class="btn btn-outline-danger">Delete Player</button>
        <a href="{% url 'core:list_player' %}"></a>
    </form>
{% endblock content %}