{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PLAYER DETAIL VIEW</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min2.css' %}">
</head>
<body>
  <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">
      <h2 class="accordion-header" id="headingOne"></h2>
    </div>
    <div class="card-body">
      <div class="accordion-body">
        Name: {{ player.name }}<br>
        Last_name: {{ player.last_name }}<br>
        Team: {{ player.team }}
      </div>
    </div>
  </div>
    <a href="{% url 'core:list_player' %}" class="btn btn-info">Back To List</a>
</body>
</html>
