{% extends "base/base.html" %}
{% load static %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>TEAM</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for team in player %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.last_name }}</td>
                <td>{{ team.team }}</td>
                <td><a href="{% url 'core:detail_player' team.id %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="{% url 'core:update_player' team.id %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'core:delete_player' team.id %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}