{% block title %}
CREATE OWNER VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success form-control">Create Owner</button>
        <a href="{% url 'core:list_owner' %}" class="btn btn-outline-warning">Cancel</a>
    </form>

    
{% endblock content %}