{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <h2 class="accordion-header" id="headingOne"> </h2>
  </div>
  <div class="card-body">
    <div class="accordion-body">
      Name: {{ owner.name }}<br>
      Last_name: {{ owner.last_name }}<br>
      Team: {{ owner.team}}
    </div>
  </div>
</div>
  <a href="{% url 'core:list_owner' %}" class="btn btn-info">Back To List</a>
{% endblock content %}