{% block title %}
    <title>UPDATE OWNER VIEW</title>
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary form-control">Update Owner</button>
        <br>
        <a href="{% url 'core:list_owner' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}
